.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 8rem;
  color: var(--text-color);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;

  &.p-card {
    .p-card-content,
    .p-card-title {
      padding: 0;
      margin: 0;
    }
  }

  &:hover {
    transform: scale(1.02);
  }
}
