:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    position: sticky;
    top: 0;
    z-index: 999;
  }

  main {
    padding: 3rem 2rem;
    margin-bottom: auto;
  }
}
