@import "primeng/resources/themes/lara-dark-blue/theme.css";

:root {
  --toolbar-button-hover: #fff;
  --toolbar-background: #1f2937bd;
  --footer-background: var(--gray-800);
  --text-color: #ffffffde;
  --toolbar-text-color: #ffffffb3;
  --footer-text-color: #ffffffb3;
}
