@import "primeng/resources/themes/lara-light-blue/theme.css";

:root {
  --toolbar-button-hover: #000;
  --toolbar-background: #f9fafbbd;
  --footer-background: var(--gray-50);
  --text-color: var(--gray-600);
  --toolbar-text-color: var(--gray-600);
  --footer-text-color: var(--gray-600);
}
