.toolbar {
  color: var(--toolbar-text-color);
  background: var(--toolbar-background);
  backdrop-filter: blur(0.5rem);
  border: 0;
  border-radius: 0;

  &__avatar-image {
    width: 2.5rem;
    height: 2.5rem;
    color: inherit;
    object-fit: cover;
    border-radius: 50%;
  }

  &__button {
    color: inherit;

    &:hover,
    &:hover + span {
      color: var(--toolbar-button-hover);
    }
  }
}
