*,
*::before,
*::after {
  box-sizing: border-box;
}

/* disable focus on click */
*:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
